
.menu.dark{
    & #menu-component nav ul li a{
        display: block;
        text-decoration: none;
        padding: 1em; /* Puedes ajustar este valor según tus necesidades */
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        color: white;
    }

    & #menu-component .active{
        border-bottom: 2px solid white;
    }
}

.menu.light{
    & #menu-component nav ul li a{
        display: block;
        text-decoration: none;
        padding: 1em; /* Puedes ajustar este valor según tus necesidades */
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
        color: black;
    }

    & #menu-component .active{
        border-bottom: 2px solid black;
    }
}

#menu-component{
    width: 100%;
    height: auto;
}

#menu-component nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#menu-component nav ul li{
    flex-grow: 1; /* Permitir que los elementos se expandan igualmente */
    text-align: center;
}


@media (max-width: 415px){

    #menu-component{
        margin-top: 20px;
    }

    #menu-component nav ul{
        list-style: none;
        display: flex;
    }
    
    #menu-component nav ul li{
        flex-grow: inherit; /* Permitir que los elementos se expandan igualmente */
        text-align: center;
    }
    
    #menu-component nav ul li a{
        display: block;
        text-decoration: none;
        padding: 15px; /* Puedes ajustar este valor según tus necesidades */
        transition: background 500ms;
        color: white;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
    }
}