
.tech.dark{
    & #tech-component{
        color: white;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
    }
}

.tech.light{
    & #tech-component{
        color: black;
        padding: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
    }
}



#tech-component strong:first-child{
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

#tech-component .skills-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

#tech-component .skills-content .skills-box{
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    transition: all 800ms;
    cursor: pointer;
}

#tech-component .skills-content .skills-box:hover{
    background-color: rgba(255,255,255,.2);
}

#tech-component .skills-content .skills-box strong{
    font-size: 17px;
    text-align: center;
}

.fs{
    font-size: 80px;
    margin-bottom: 10px;
}

@media (max-width: 415px){
    #tech-component{
        color: white;
        padding: 8px;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
    }

    .fs{
        font-size: 50px;
        margin-bottom: 10px;
    }
}