
#app{
    width: 50%;
    height: auto;
    margin: 0px auto;
    padding: 50px 0px 0px;
}

#app .gradient-bg{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: blueviolet;
    top: 40;
    left: 50px;
    opacity: .5;
    filter: blur(90px);
}

#app .gradient-bg2{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #F35F50;
    top: 400px;
    right: 50px;
    opacity: .5;
    filter: blur(90px);
}

#app .gradient-bg3{
    position: absolute;
    width: 350px;
    height: 250px;
    border-radius: 50%;
    background-color: #49B5D5;
    top: 200px;
    left: 250px;
    opacity: .2;
    filter: blur(90px);
}

@media (max-width: 415px){
    #app{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}
